@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
*{
    margin:0;

}
body{
    display: block;
    font-family: Rubik, sans-serif;
}


header {
   width:70vh;
   height:9vh;
   background-color: #ffff00;
   text-align: center;
   margin: 12px auto;
   border-radius: 0 18px 0 18px;
}



#main { 
    max-width: 70%;
    /* border: 2px solid red; */
    margin: 12px auto;
    margin-top: 3rem;
}

#input-text { 
    display: block;
    margin: 12px auto;
    height: 15vh;
    width: 70%;
    border: 2px solid black;
}

#input-btn {
    display: block;
    margin:12px auto;
    padding: 10px;
    cursor:pointer;
    background-color: #f9ee9d;
    border-radius: 0.8rem;
}

#output-line {
    text-align: center;
}
#output-text {
    border: 2px solid black;
    margin: 12px auto;
    width: 70%;
    height: 11vh
    
}
footer{
    bottom: 0;
    position:fixed;
    text-align: center;
    width: 100%;
    background-color: #0a1faf;
    border-radius: 10px 10px 0 0;
}

#footer-list{
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 1.2rem;
}

a {
    color:white;
    text-decoration: none;
    padding:5px;
}

a:hover{
    color:black;
}


footer h2 {
    color: #76d7ea;
}

