* {
    margin: 0px;
    padding: 0px;
    font-family: 'Press Start 2P', cursive;
}
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

header { 
    height: 7vh;
    background-color: green;
    padding: 0.5em;
    margin-bottom: 5em;
}

h1{
    text-align: center;
    color: white;
    font-size: medium;
    
}

#first-div { 
    display: block;
}

#first-area { 
    width: 25rem;
    height: 8rem;
    margin-left: 15vh ;
}

#btn{ 
    padding: 5px;
    margin-left: 15vh ;
    margin-top: 15px;margin-bottom: 15px;
    background-color: green;
    border-color: green;
    color: white;
    font-size: large;
}

#second-div { 
    margin-left: 15vh ;
    
}
#second-area { 
    border: 2px solid red; 
    width: 25rem;
    height: 8rem;
    /* margin-left: 15vh ; */
    margin-top: 15px;
}

